@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

      body {
        font-family: Arial, sans-serif;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn8J5f2lSoBJgLRHhs7MMBxzftuy9yMPJ2YVTgHzI8xPo9vI-hypPw4xjk1umXokrAZmk&usqp=CAU");
        padding: 20px;
      }

      h1 {
        color: darkred;
        text-align: center;
        margin-bottom: 30px;
        background:white;
      }

      .memory-paragraph {
        font-size: 18px;
        color: #333333;
        margin-bottom: 10px;
         background:white;
      }

      img {
        display: none;
        width: 300px;
        height: auto;
        border-radius: 10px;
        margin: 10px 0;
      }


